.bs-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 768px) {
    .bs-container {
      width: 750px;
    }
  }
  
  @media (min-width: 992px) {
    .bs-container {
      width: 970px;
    }
  }
  
  @media (min-width: 1170px) {
    .bs-container {
      width: 1200px;
    }
  }
  .custom-dot-list-style {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .react-multi-carousel-dot button {
    width: 5px;
    height: 5px;
    background: #ddd;
    border-radius: 50%;
    margin: 0 5px;
    transition: 0.3s;
  }
  .react-multi-carousel-dot--active button {
    background: #fff;
    width: 5px;
    height: 10px;
  }